@charset "utf-8";

/* CSS Resets */ 
ul,p {
	margin: 0; 
	padding: 0;
}
ul,li {
	list-style: none;
}
h1,h2,h3 {
	margin: 0;
	padding: 0;
}
h1,h2,h3,a,p { 
	font-family: 'Open Sans', sans-serif; 
}
a:hover,a:active {
	text-decoration: none!important;
}

body { 
	overflow-x: hidden; 
}

/*主页开始*/
.gray-bg {
	background-color: #E5E5E5;
}

/*导航条开始*/
.header {
	background: #000000;
	height: 80px;
	position: relative;
	z-index: 100;
}
.nav-left {
	line-height: 80px;
}
.nav-logo {
	color: #FCDD44;
	font-size: 27px;
	font-weight: 600;
	text-transform: uppercase;
}
.nav-logo:hover,.nav-logo:focus {
	color: #FF720B;
}
.mobile-menu-icon {
	display: none; 
}
.nav-right {
	display: block;
	overflow: hidden;
}
.nav-right li {
	list-style: none;
	float: left;
}
.nav-right li a {
	color: #838383;
	display: block;
	line-height: 80px;
	padding-left: 34px;
	padding-right: 34px;
	text-transform: uppercase;
}
.nav-right li a.active,.nav-right li a:focus,.nav-right li a:hover {
	background: #FCDD44;
	color: #000;
}
/*导航条结束*/
/*banner开始*/
.flexslider.flexslider-banner {
	max-width: 100%;
	height: 100%;
	z-index: 0;
}
.flexslider {
	border: none;
	border-radius: 0;
	margin: 0 auto;
	width: 100%;
}

.slides {
	overflow: hidden;
	width: 100%;
}
.banner-inner {
	height: auto;
	margin: auto;
	position: absolute;
	top: -20px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.banner-title {
	font-size: 74px;
	font-weight: 600;
}

.banner-title, .banner-subtitle, .banner-link {
	text-transform: uppercase;
}

.yellow-text {
	color: #FCDD44;
}

.banner-title, .banner-subtitle {
	color: white;
}

.banner-subtitle {
	font-size: 34px;
}

.banner-link {
	background: rgba(252, 221, 68, 0.39) none repeat scroll 0% 0%;
	border: 1px solid #D2B731;
	color: #FFF;
	font-weight: 600;
	display: inline-block;
	padding: 18px 40px;
	margin-top: 30px;
	transition: all 0.3s ease;
}

.banner-link:hover, .banner-link:focus {
	background: rgba(252, 221, 68, 1);
	color: #000;
}

.flexslider.flexslider-banner .slides img {
	display: block;
	width: 100%;
}

.flex-caption, .flexslider.flexslider .slides img {
	float: left;
}

.flex-direction-nav a {
	height: 50px;
}

.flexslider.flexslider-banner .flex-direction-nav a:before {
	color: #FCDD44;
}

.banner-subtitle {
	font-size: 34px;
}

.banner-title, .banner-subtitle {
	color: white;
}

.banner-title, .banner-subtitle, .banner-link {
	text-transform: uppercase;
}

.banner-link {
	background: rgba(252, 221, 68, 0.39) none repeat;
	border: 1px solid #D2B731;
	color: #FFF;
	font-weight: 600;
	display: inline-block;
	padding: 18px 40px;
	margin-top: 30px;
	transition: all 0.3s ease;
}
/*banner结束*/

/*主内容区开始*/
/*第一个区域向上浮动50px*/
.gray-bg {
	background-color: #E5E5E5;
}

.main {
	position: relative;
	top: -50px;
}

/*订购区开始*/
.main .home-box {
	width:346px;
	height: 436px;
}

#hotelCarTabs {
	border-bottom: none;
	height: 52px;
}

.home-header {
	background-color: #fff;
}

#hotelCarTabs li {
	width: 50%;
	height: 100%;
}

#hotelCarTabs > li > a {
	margin-right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	background: transparent linear-gradient(to bottom, #F5D11D 0%, #F3D10E 1%, #EFCF1C 2%, #FCCD0D 4%, #F7CA0D 5%, #F9CB1E 6%, #F7CB10 7%, #F8CC14 8%, #F0C40C 54%, #EDC50C 55%, #E9C108 71%, #ECC008 78%, #E6BE06 91%, #E9BD06 93%, #E8BC06 100%) repeat scroll 0% 0%;
	border: none;
	border-radius: 0;
	color: #5C4905;
	font-weight: 600;
}

#hotelCarTabs > li > a:hover, #hotelCarTabs > li > a:focus {
	border: none;
	background: #F9E58B;
}

#hotelCarTabs > li.active > a, #hotelCarTabs > li.active > a:focus, #hotelCarTabs > li.active > a:hover {
	background: transparent;
	border: none;
}

.home-contain {
	background-color: #fff;
}

.effect2 {
	position: relative;
}

/*阴影效果*/
.effect2:before,.effect2:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 160px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.effect2:after {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

.form-contain {
	padding: 35px 30px 5px;
}


.hotel-search-form .form-group {
	margin-bottom: 30px;
}

.effect2 .form-control {
	border-radius: 0!important;
}

.input-group-addon {
	border-radius: 0;
}

.yellow-bg, .green-bg, .red-bg {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 88px;
}


.yellow-bg {
	background: #f5d11d;
	background: linear-gradient(to bottom, #f5d11d 0%,#f3d10e 1%,#efcf1c 2%,#fccd0d 4%,#f7ca0d 5%,#f9cb1e 6%,#f7cb10 7%,#f8cc14 8%,#f0c40c 54%,#edc50c 55%,#e9c108 71%,#ecc008 78%,#e6be06 91%,#e9bd06 93%,#e8bc06 100%);
}

.yellow-btn {
	width: 130px;
	height: 40px;
	background-color: #F5D338;
	border: medium none;
	color: #5C4905;
	font-size: 12px;
	margin: 24px auto;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.yellow-btn:hover, .yellow-btn:focus {
	background-color: #F9E58B;
}

.white-bg {
	background-color: #fff;
}

.input-group-addon {
	cursor: pointer;
}

.home-box-1-center {
	margin: 0 auto;
}

.home-box-1 {
	width: 346px;
	height: 436px;
}

.city-price-container {
	padding: 30px 0;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.green-bg {
	background: #2ec66b;
	background: linear-gradient(to bottom, #2ec66b 0%,#2dc970 1%,#2ac96c 2%,#2bc76e 4%,#2bc869 5%,#2ac871 6%,#29c86c 7%,#28c76b 15%,#2bc76c 16%,#21bb61 73%,#1eb860 100%);
}

.city-price-container:hover {
	font-weight: 600;
}

.home-box-1-right, .home-box-2-right {
	margin-left: auto;
}

.red-bg {
	background: #e97262;
	background: linear-gradient(to bottom, #e97262 0%,#ef6865 1%,#ed6c5f 2%,#f07162 4%,#f17062 5%,#eb6f67 6%,#ec6c5f 7%,#ec6b5e 18%,#eb5d4f 56%,#e95242 100%);
}

/*订购区结束*/
/*中部开始*/
.section-margin-top {
	margin-top: 100px;
}

.section-header {
	margin-bottom: 70px;
	overflow: hidden;
}

hr {
	border-top: 1px solid #111010;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
}

.home-box-2 {
	background-color: white;
	max-width: 254px;
}

.home-box-2 h3 {
	font-size: 14px;
	padding: 30px 25px;
	text-transform: uppercase;
}

.home-box-2-date {
	color: #c3c3c3;
	padding: 10px 25px;
	text-transform: uppercase;
}

.home-box-2-container {
	border-top: 1px solid #DDD;
	overflow: hidden;
}

.home-box-2-link {
	display: inline-block;
	height: 100%;
	color: black;
	transition: all 0.3s ease;
	text-align: center;
}

.home-box-2-icon {
	padding: 20px;
	width: 60px;
	height: 60px;
	font-size: 1.4em;
}

.border-right {
	border-right: 1px solid #DDD;
}

.home-box-2-description {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	width: 125px;
	padding-bottom: 18px;
}


.border-left {
	border-left: 1px solid #DDD;
}

.home-box-2-link:hover, .home-box-2-link:focus {
	color: #FCDD44;
}
/*中部结束*/

.home-description {
	margin: 50px auto;
	padding: 0 30px;
	text-align: center;
}
/*主内容区结束*/

/*底部内容开始*/
.section-padding-bottom {
	padding-bottom: 60px;
}

.white-bg {
	background-color: #fff;
}

.section-header {
	margin-bottom: 70px;
	overflow: hidden;
}

.section-margin-top {
	margin-top: 100px;
}

.home-box-3 {
	margin-bottom: 50px;
	max-width: 555px;
	overflow: hidden;
}

.home-box-3-img-container {
	float: left;
}

.home-box-3-info {
	height: 225px;
	max-width: 305px;
	float: right;
	border: 1px solid #CCC;
	border-left: none;
}

.home-box-3-description {
	padding: 40px 30px 44px;
}

.home-box-2-description.box-3 {
	width: 175px;
}
/*底部内容结束*/

.black-bg {
	background-color: #000;
}

.footer-text {
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*主页结束*/




/*about页开始*/
/*副轮播*/
.flexslider.flexslider-about {
	max-width: 1100px;
}

.flex-caption, .flexslider.flexslider .slides img {
	float: left;
}

.flexslider.flexslider-about img {
	max-width: 528px;
}

.flex-caption {
	width: 572px;
	padding: 40px 40px 0;
	left: 0;
	bottom: 0;
	font-size: 14px;
	line-height: 18px;
}

.slider-title {
	font-style: italic;
	font-weight: 600;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.slider-subtitle {
	font-size: 18px;
	margin-bottom: 30px;
	text-align: left;
}

.slider-description {
	color: #B1B1B1;
	line-height: 1.6;
	margin-bottom: 40px;
	text-align: justify;
}

.slider-social {
	text-align: right;
}

.social-icon {
	color: #B1B1B1;
	font-size: 18px;
	padding: 0 10px;
}

.social-icon:hover {
	color: #E8BA0F;
}

/*中部区域*/
.about-section {
	margin-top: 150px;
}

.about-box-1 {
	background-color: white;
	width: 255px;
	height: 380px;
	padding: 30px;
	text-align: center;
}

.about-box-1-img {
	display: block;
	margin: 0 auto 30px;
	border-radius: 50%;
	border: 5px solid #d4d4d4;
	transition: all 0.3s ease;
}

.about-box-1-img:hover, .about-box-1-img:focus {
	border: 5px solid #E8BA0F;
}

.about-box-1-title {
	font-size: 17px;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about-box-1-title span {
	font-size: 14px;
	font-style: normal;
	text-transform: none;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.gray-text {
	color: #B1B1B1;
}

/*底部区域*/
.section-padding-bottom {
	padding-bottom: 60px;
}

.white-bg {
	background-color: #fff;
}

.what-we-do-right {
	float: right;
	margin-left: 30px;
	max-width: 820px;
	width: 100%;
}

.about-box-2 {
	overflow: hidden;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.about-box-2-img, .about-box-2-text {
	float: left;
}

.about-box-2-text {
	margin-left: 40px;
	max-width: 440px;
	width: 100%;
}

.about-box-2-title {
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 30px;
}

.about-box-2-description {
	text-align: left;
	margin-bottom: 20px;
}

.about-box-2-footer {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: right;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

.testimonials-box {
	width: 272px;
	height: 530px;
	background-color: #E8BA0F;
	float: left;
}

.testimonials-title {
	background-color: rgb(96, 104, 116);
	color: white;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

.testimonials-content {
	padding: 30px;
	text-align: center;
	font-style: italic;
}

.testimonial {
	padding-top: 20px;
	padding-bottom: 15px;
}

/*about页结束*/

/*tours开始*/
/*中部区域开始*/
.tours-box-1 {
	width: 100%;
	max-width: 532px;
	margin-bottom: 50px;
}

.tours-box-1-info {
	background: white;
	padding: 40px;
	overflow: hidden;
}

.tours-box-1-info-left {
	border-right: 1px solid #B1B1B1;
	padding-right: 30px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.tours-box-1-info-left, .tours-box-1-info-right {
	float: left;
	width: 50%;
}

.tours-box-1-info-right {
	padding-left: 30px;
}

.tours-1-description {
	line-height: 1.8;
}

.tours-box-1-link {
	overflow: hidden;
}

.tours-box-1-link-left, .tours-box-1-link-right {
	color: white;
	height: 60px;
}

.tours-box-1-link-left {
	background-color: #1CA7C8;
	padding: 20px 30px;
	float: left;
	width: 75%;
	text-transform: uppercase;
}

.tours-box-1-link-right {
	float: left;
	background-color: #1687A6;
	font-weight: 600;
	font-size: 18px;
	display: block;
	padding: 17px 30px;
	width: 25%;
	transition: all 0.3s;
	text-align: center;
}

.tours-box-1-link-right:hover, .tours-box-1-link-right:focus {
	color: white;
	background-color: #1D98B9;
}
/*中部区域结束*/
/*底部区域开始*/
.tours-box-2 {
	max-width: 254px;
	width: 100%;
}

.tours-box-2-info {
	padding: 20px;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.tours-box-2-info h3 {
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom: 1px solid #b1b1b1;
}

.tours-box-2-link {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #8C8C8C;
	color: white;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.tours-box-2-link:hover, .tours-box-2-link:focus {
	color: white;
	background-color: #E8BA0F;
}
/*底部区域结束*/
/*tours结束*/



/*contact开始*/
/*主内容区开始*/
.contact-box-1 {
	background-color: #F4F4F4;
	padding: 40px;
}

.effect2-contact::before, .effect2-contact::after {
	max-width: 550px;
}

.contact-image {
	float: left;
	width: 100%;
	max-width: 494px;
}

.contact-text {
	float: left;
	margin-left: 40px;
	max-width: 550px;
	width: 100%;
}

.form-control {
	border-radius: 0;
}

.submit-btn {
	background: #f5d11d;
	background: linear-gradient(to bottom, #f5d11d 0%,#f3d10e 1%,#efcf1c 2%,#fccd0d 4%,#f7ca0d 5%,#f9cb1e 6%,#f7cb10 7%,#f8cc14 8%,#f0c40c 54%,#edc50c 55%,#e9c108 71%,#ecc008 78%,#e6be06 91%,#e9bd06 93%,#e8bc06 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d11d', endColorstr='#e8bc06',GradientType=0 );
	width: 100%;
	border: none;
	height: 40px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 12px;
	font-weight: 600;
}

.submit-btn:hover {
	background: #f5d11d;
}
/*主内容区结束*/
/*contact结束*/


/*响应式*/
@media screen and (max-width: 1199px) {
	.banner-title { font-size: 50px; }
	.banner-subtitle { font-size: 30px; }
	.main { top: -20px; }
	.home-box-1 {
		width: 300px;
		height: 388px;
	}
	.hotel-search-form .form-group { margin-bottom: 18px; }
	.home-box-2-description { padding-bottom: 15px; }
	.home-box-3 {
		margin-left: auto;
		margin-right: auto;
	}
	.home-box-2-description.box-3 { width: 185px; }
	.about-box-1 {
		width: 215px;
		padding: 24px 15px;
	}
	.testimonials-box { width: 220px; }
	.testimonials-content { padding: 20px; }
	.what-we-do-right { max-width: 685px; }
	.about-box-2-img {
		max-width: 280px;
		height: auto;
	}
	.about-box-2-text { max-width: 360px; }
	.flex-caption {	
		padding: 25px; 
		max-width: 500px;
	}
	.flexslider.flexslider-about .slides img {
		max-width: 450px;
	}
	.slider-title {
		margin-bottom: 15px; 
	}
	.slider-subtitle { 
		margin-bottom: 20px;	
	}
	.slider-description {
		margin-bottom: 20px;
		line-height: 1.3;
	}
	.contact-box-1 {	padding: 30px; }
	.contact-image { max-width: 450px; }
	.contact-text {	max-width: 400px; }
	.flexslider.flexslider-about .slides img { width: 450px;	}	
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	.home-box-2-description { width: 94px; }
	.home-box-2-icon {
		padding: 18px;
		width: 55px;
		height: 55px;
	}
	.home-box-3-description { padding-bottom: 47px; }
}

@media screen and (max-width: 991px) {
	.home-box-1 {
		margin-bottom: 50px;
		width: 346px;
		height: 436px;
	}
	.home-box-2 { margin: 0 auto 30px; }
	.home-box-2-description {
		width: 125px;
		vertical-align: top;
	}
	.home-box-2-description.box-3 { width: 175px; }
	.hotel-search-form .form-group { margin-bottom: 30px; }
	.home-description {	margin: 40px auto 40px;	}
	.tours-box-1-link-left {	width: 65%;	}
	.tours-box-1-link-right { width: 35%; }
	.tours-box-2 { margin: 0 auto 30px; }
	.about-box-1 {
		margin: 0 auto 30px;
		width: 100%;
	}
	.what-we-do-right {
		float: none;
		margin-left: 0;
		max-width: 100%;
	}
	.about-box-2-img { max-width: 100%; }
	.about-box-2-text { max-width: 340px; }
	.testimonials-box {
	    max-width: 340px;
	    width: 100%;
	    margin: 30px auto 0;
	    float: none;
	    height: auto;
	}
	.flexslider.flexslider-about,
	.flexslider.flexslider-about .slides img, 
	.flex-caption {
		max-width: 528px;
		width: 100%;
	}
	.flexslider .slides img, 
	.flex-caption {
		width: 100%;
	}
	.contact-text {
		margin-left: 0;
		margin-top: 50px;
		max-width: 100%;
	}
	.contact-form-input { margin-top: 50px; }
}

@media screen and (max-width: 767px) {
	
	/* http://www.impressivewebs.com/animate-display-block-none/
	 * Comment by Jon Christensen
	 */
	.nav-right.show {
		opacity: 1;
		height: auto;
		transition: opacity 1s, height 0;
	}
	.nav-right {
	    opacity: 0;
		transition: opacity 1s, height 0 1s;
		height: 0;
	    position: fixed;
	    z-index: 1000;
	    top: 69px;
	    right: 15px;
	    background: rgba(15,15,15,0.7);
	    transition: all 0.3s ease;
	}
	.nav-right li { float: none; }
	.nav-tight li a {
		color: white;
	    display: block;
	    padding: 20px 30px 20px;
	}
	.mobile-menu-icon {
	    display: block;
	    cursor: pointer;
	    color: #FCDD44;
	    font-size: 30px;
	    position: fixed;
	    top: 15px;
	    right: 15px;
	    background-color: rgba(15, 15, 15, 0.7);
	    padding: 6px 15px;
	    z-index: 1000;
	}
	.- { height: 400px;	}
	.banner-title { font-size: 40px;	}
	.banner-subtitle { font-size: 24px; }
	.banner-inner { top: 0; }
	.banner-link {
		padding: 12px 30px;
		margin-top: 10px;
	}
/* 	.tm-banner, .flexslider.flexslider-banner .slides img { height: 500px; } */
	.home-box-1 {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
	.home-box-1-2 { height: auto; }
	.tours-box-1 {
		margin-left: auto;
		margin-right: auto;
	}
	.what-we-do-right { text-align: center; }
	.section-margin-top.about-section {	margin-top: 120px; }
	.section-header { margin-bottom: 40px; }
	.about-box-1 {
		width: 100%;
		max-width: 300px;
		padding: 30px;
	}
	.about-box-2-img, 
	.about-box-2-text {
		float: none;
	}
	.about-box-2-text { margin: 30px auto; }
}

@media screen and (max-width: 600px) {
	.col-xxs-12 { width: 100%; }
	.section-margin-top { margin-top: 50px;	}
	.banner-title {
    	font-size: 30px;
	}
	.banner-subtitle { font-size: 16px; }
	.banner-link { 
		padding: 10px 25px;
	}
	.home-section-1 { top: 0; }
	.home-box-3-img-container,
	.home-box-3-info {
		float: none;
	}
	.home-box-3-info {
		max-width: 250px;
		border: 1px solid #CCC;
		border-top: none;
	}
	.home-box-3-description {
	    padding-top: 30px;
	    padding-bottom: 34px;
	}
	.home-box-3 { max-width: 250px; }
	.home-box-2-description.box-3 { width: 120px; }
}

@media screen and (max-width: 420px) {
	.banner-title { font-size: 20px;	}
	.banner-subtitle { font-size: 12px; }
	.banner-link { padding: 5px 10px; }
	.tours-box-1-info-left,
	.tours-box-1-info-right {
		float: none;
		width: 100%;
	}
	.tours-box-1-info-left {
		border-right: none;
		border-bottom: 1px solid #B1B1B1;
		padding-right: 0;
		padding-bottom: 30px;	
	}
	.tours-box-1-info-right {
		padding-left: 0;
		padding-top: 30px;		
	}
	.tours-box-1-link-left,
	.tours-box-1-link-right {
		float: none;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.section-title {	font-size: 28px; }
}